# General
*.a
*.dSYM/
*.la
*.lo
*.o
*.opensdf
*.orig
*.sdf
*.suo
*.swp
*.tests
*.vcxproj.filters
*.vcxproj.user
*~
.git
TAGS

# Mac/Xcode-specfic
xcuserdata
contents.xcworkspacedata
.DS_Store
._*

# Test byproducts
test/khash_keith
test/khash_keith2
test/khash_test
test/kvec_test

build/**
